.root, .title-label.force-custom-font {
    -fx-font-family: "IM FELL ENGLISH SC", Times, serif;
    -fx-font-size: 12pt;
}

.title-label {
    -fx-font-family: "Arial Black", sans-serif;
    -fx-font-size: 110%;
}

.table-column {
    -fx-alignment: CENTER;
}

.scrollpane-transparent, .scrollpane-transparent > .viewport {
    -fx-background-color: transparent;
}