.root {
    -fx-font-size: 12pt;
}

.force-default-font {
    -fx-font-family: "Arial", sans-serif;
}

.title-label {
    -fx-font-size: 130%;
}

.title-label, .force-custom-font {
    -fx-font-family: "IM FELL ENGLISH SC", Times, serif;
}

.table-column {
    -fx-alignment: CENTER;
}

.scrollpane-transparent, .scrollpane-transparent > .viewport {
    -fx-background-color: transparent;
}

.description-text {
    -fx-font-size: 17px;
}